@font-face {
  font-family: 'Cairoli Classic';
  src: url('fonts/cairoli-classic-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cairoli Classic Condensed';
  src: url('fonts/cairoli-classic-condensed-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}